.navbar{
    height:60px;
    background-color: white;
    width:100%;   
    align-items:center;
    display: flex;
    position: sticky;
    padding-left:10px;
    font-size:2rem;
    z-index:10;
    top: 0;
    box-shadow: 0 6px 20px rgba(56,125, 255,0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56,125 , 255 , 0.017));
    filter: drop-shadow(0 6px 20px rgba(56 , 125 , 255 , 0.017));
}

.navbar-logo{
    color: black;
    text-decoration:none;
    font-weight: bold;
}