

.Slidert{
   display: flex;
   background-color: rgb(149, 149, 175);
   scroll-behavior: smooth;
   flex-flow:column;
}

.info-wrapper{
  display: flex;
  align-items: center;
  flex-flow: column;
}

.item-wrapper{
  padding-left:10px;
  padding-right:10px;
  display: flex;
  background-color: rgb(149, 149, 175);
  scroll-behavior: smooth;
}

.SliderMobile{
  display: flex;
  background-color: rgb(149, 149, 175);
  scroll-behavior: smooth;
  flex-flow:column;
  align-items: center;
}

body{
    display: block;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(149, 149, 175);
}

html{
    scroll-behavior: smooth;
}


.App{
    height: 100vh;
    width: 100%;
   overflow-y: scroll;
   overflow-x: hidden;
}


.App_Wrapper{
  height: 100%;

  width:100%;  
}

@media only screen and ( max-width:780px){

  
.App_Wrapper{
  
}

  
.App::-webkit-scrollbar{
  display: none;
  height: 100vh;
  width: 100%;
 overflow-y: scroll;
 overflow-x: hidden;
   }
}


  body > #root > div {
    height: 100vh;
    text-decoration: none;
  }

a{
  text-decoration: none;
  margin:0px;
  padding:0px;
}  